# Data Types and Structures Questions Practical

### Q1--Write a code to create a string with your name and print it

In [1]:
name = "Rohit Maurya"
print(name)

Rohit Maurya

### Q2--Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"

length = len(text)
print("Length of the string:", length)

Length of the string: 11

### Q3--Write a code to slice the first 3 characters from the string "Python Programming

In [3]:
text = "Python Programming"

text1 = text[:3]

print(text1)

Pyt

### Q4--Write a code to convert the string "hello" to uppercase

In [4]:
text = "hello"

uppercase_text = text.upper()

print(uppercase_text)

HELLO

### Q5--Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

### Q6--Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = []

for i in range(1, 6):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5]

### Q7--Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

### Q8--Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

### Q9--Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print(second_element)

b

### Q10--Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
numbers = [10, 20, 30, 40, 50]

reversed_numbers = numbers[::-1]

print(reversed_numbers)

[50, 40, 30, 20, 10]

### Q11--Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)

print(my_tuple)

(10, 20, 30)

### Q12--Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [12]:
my_tuple = ('apple', 'banana', 'cherry')

first_element = my_tuple[0]

print(first_element)

apple

### Q13--Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [13]:
my_tuple = (1, 2, 3, 2, 4, 2)

count_of_2 = my_tuple.count(2)

print(count_of_2)

3

### Q14--Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')

index_of_cat = my_tuple.index('cat')

print(index_of_cat)

1

### Q15--Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [15]:
my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

### Q16--Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

### Q17--Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [17]:
my_set = {1, 2, 3, 4}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 6}

### Q18--Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
my_tuple = (10, 20, 30)

print(my_tuple)

(10, 20, 30)

### Q19--Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [19]:
my_tuple = ('apple', 'banana', 'cherry')

first_element = my_tuple[0]

print(first_element)

apple

### Q20-- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [20]:
my_tuple = (1, 2, 3, 2, 4, 2)

count_of_2 = my_tuple.count(2)

print(count_of_2)

3

### Q21--Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [21]:
my_tuple = ('dog', 'cat', 'rabbit')

index_of_cat = my_tuple.index('cat')

print(index_of_cat)

1

### Q22--Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [22]:
my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

### Q23--Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [23]:
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

### Q24--Write a code to add the element 6 to the set {1, 2, 3, 4}

In [24]:
my_set = {1, 2, 3, 4}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 6}